.custom_tbl{
	float:left;
	width:100%;
}
.cursor{
	cursor:pointer;
}
.blanck_sel{
    min-height: 100%;
    background: #E9EDF2;
    border: 0;
    box-shadow: 0 0 0 0 !important;
}
.calender-header
{
	float: left;
    width: 100%;
	/* background: #BDBDBD; */
	background:#337ab7;
   
    color: white;
}
#wpwrap #wpcontent
{
    padding-left:0;
}
.calender-header h4{
	text-align: center;
    margin: 0;
    padding: 10px;
}
.calender .cal_sel
{
	width: 14.10%;
   // border: 1px solid #ccc;
    height: 76px;
    float: left;
    padding: 1%;
	
}
.dayname_sel
{
	width: 13.99%;
    font-weight: bold;
    float: left;
    text-align: center;
	margin-top:6px;
   
}
.calender {
float: left;
width: 100%;
border: 1px solid #8dadca;
border-radius: 4px;
background-color: aliceblue;
}
.calender .cal_sel .cel_inner
{
	 text-align: center;
	border: 1px solid rgba(108, 152, 189, 0.46);
	box-shadow: 2px 2px 2px; 


}
.grey {
	background: #82bcec none repeat scroll 0 0;
	color: white;
	padding: 5px 0px;
}
.att-status{
	padding:5px 0;
}
.man-att-status{
    margin: 0 auto;   
    width: 48%;
    background: red;
}

.calender .cal_sel .current-day{
	border-bottom: 3px solid #456abd;
}





.msg{
	padding:10px;
	background:white;
	border-left:4px solid #46b450;
	margin-bottom:10px;
}
.active-btn{
	background:grey;
}
.msg p{
	margin:0;
}
.today th,.today td{
	color:blue !important;
}

.hospital-management-content .container-fluid{background: #364150}


.toplevel_page_hospital:hover .wp-menu-image.dashicons-before img {
  display: none;
}
.toplevel_page_hospital:hover .wp-menu-image.dashicons-before {
  min-width: 23px !important;
}
#wpbody-content .updated.below-h2 {
  margin-top: 20px;
}
.updated.below-h2{
	margin-top: 20px;
}
.media-modal a:hover {text-decoration: none;}
.wp-has-submenu.wp-has-current-submenu.wp-menu-open.menu-top.toplevel_page_hrmgt-hr_system {
    background: url("../images/hr-managemt-1.png") no-repeat scroll 8px 9px #0073AA !important;
}
.wp-has-submenu.wp-has-current-submenu.wp-menu-open.menu-top.toplevel_page_hrmgt-hr_system img {
    display: none;
}

.info-box-title {
  text-transform: capitalize;
}

  .page-inner {
  margin-left:0;
} 
.img-circle.head_logo {
      border-radius: 50%;
    height: 65px;
    width: 66px;
    vertical-align: middle;
}
.nav-tab-active, .nav-tab-active:hover,a.nav-tab:hover,a.nav-tab:focus {
  background: none repeat scroll 0 0 #fff;
  border-bottom: 0px;
  color: #000;
  text-decoration: none;
}
.wp-admin select {
    height: 32px;
}

.updated.below-h2{text-transform: capitalize;}
//OLD CSS
.student_name,.result_total,.result_point {
  text-align: center; 
}
.student_name {
 font-size: 20px;
}
.panel-body button {
  margin-right: 5px;
}
.school_name {
  background: none repeat scroll 0 0 #34425A;
  color: #C6C9CD;
  padding: 5px;
}
.apart-management-content .hrm_left {
  background: none repeat scroll 0 0 #364150;
  min-height: 1050px !important;
  width:16.66% !important;
  
}
.right_side {
  margin-top: 10px;
}
.nopadding {  
  
   padding-left:0 !important;
   padding-right:0 !important;
}
.hrm_left .nav .title{color:#fff;}
.hrm_left ul a:hover,.hrm_left ul li.active > a,.hrm_left  li > a:focus {background: #2C3542 !important;}
.hrm_left ul a, {border-top: 1px solid #3d4957;
    color: #b4bcc8;}
    

 .form-control.file {
  border: medium none;
  padding: 0 !important;
}   
.navbar a {
  color: #5f5f5f !important;
}
.dropdown-menu li a {
  padding: 7px 10px;
  color: #5f5f5f !important;
  font-size: 13px;
}
.navbar .nav li > a:hover,.navbar .nav li > a:focus {
  background-color: inherit;
}
.navbar ul li ul a:hover{background-color: #F3F3F3; } 
.navbar  a:hover{
  text-decoration: none;
}
.panel-body.member,.panel-body.staff-member,.panel-body.group, .panel-body.message{
  text-align: center;
}

.account .personal-info {
    margin-top: 15px;
}
.dashboard-stat {
  height: 100px;
  padding: 10px 5px;
}
.dashboard .block-orange {
  background: #F59575;
}
.dashboard .icon {
  float: left;
  font-size: 54px;
  margin-right: 1%;
  width: 45%;
}
.dashboard .number {
  font-size: 30px;
}
.dashboard .left_block {
  float: left;
  //width: 75%;
}
.form-horizontal h5 {
    color: red;
}
.blue.btn {
    background-color: #3598dc;
    color: #ffffff;
	border-radius:0px;
}
.checkbox_field  {
    width: 10px !important;
}
.attendence_list th, .attendence_list td{
	padding:10px !important;
}
.panel-body p .img-circle {
  margin-right: 10px;
}
.select_Staus {
   
    padding: 25px 0;
}
.toshow { 
    display:none; 
    position: absolute; 
    background: #f00; 
    width: 200px; 
	
}
button:hover div.toshow { 
    display:block; 
}
.right_part {
    float: right;
    margin-top: 65px;
    width: 30%;
}
.calender_part{
    width: 70%;
}
.seperate_part {
    margin: 5px;
  
}
.right_side {
    margin-top: 0;
	padding:20px;
	min-height: 650px;
}
.right_side.account {
    padding: 0;
	
}
.profile-cover{
    background: url("../images/school_life.jpg") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
}
.file_upload{
border:none;
}

.table-responsive th {
  text-transform: capitalize;
  height: 1px;
  font: normal;
}
.require-field{
color:red;
}

.info-box .info-box-stats {
  margin-top: 0px !important;
}
/* .panel-body.patient {
background: rgba(0, 0, 0, 0) url("../images/Patient.png") no-repeat scroll right center;
}
.panel-body.doctor{
	
	 background:url("../images/Doctor.png") no-repeat scroll right center;
	
}
.panel-body.nurse{
	
 	background:url("../images/Nurse.png") no-repeat scroll right center;
	
	
}
.panel-body.accountant{
	
 background:url("../images/Accountant.png") no-repeat scroll 55% 0;

}
.panel-body.receptionist {
    background: rgba(0, 0, 0, 0) url("../images/Receptionist.png") no-repeat scroll right bottom / 100% auto;
}
.panel-body.pharmacist{
	
	 background:url("../images/Pharmacist.png");
 background-repeat: no-repeat;
    background-position: right center;
  
    background-width: 100% auto; 
    
}
.panel-body.laboratorist{
	
	 background:url("../images/Laboratorist.png");
 background-repeat: no-repeat; 
    background-position: 55% 0;
  
    background-width: 100% auto;
} */

.info-box .info-box-icon i {
    float: right;
    font-size: 70px !important;
}

.button-possition  input ,button{
    margin-top: 22px;
}
 .panel-body h2 {
    margin-bottom: 10px !important;
    margin-top: 20px !important;
     font-family: open sans;
}

#add-another_item{margin-left: 17%;}
#revove_item{margin-left: 1%;}
.marginbottom{ 
	float: left;
    margin-bottom: 10px;
    width: 100%;}
.print-button {padding-top:10px;
margin-bottom: 10px;
}
table.dataTable thead th, table.dataTable thead td{padding:10px 10px;}
/**  Fronted CSS*/
/**   Menu icone***/

.icone {
  float: left;
  height: 20px !important;
  /* line-height: 0px; */
  margin-right: 5px;
  overflow: hidden;
  width: 25px !important;
  text-align: center;
}
.hospital-management-content .container-fluid.mainpage {
  position: fixed;
  width: 100%;
    z-index: 5;
}
.hospital-management-content .col-sm-2.nopadding.hrm_left { 
  width: 15%;
  height: 100%;
   margin-top: 70px;
   float:left;
  
}
.hospital-management-content .page-inner {
  margin-left: 15%;
   margin-top: 70px;
}
 .info-box .panel-body img{
 
transition: all 0.3s ease 0s;
}
.page-inner .col-lg-2 a .info-box:hover .panel-body img{
    transform: scale(1.2);
} 

.info-box .info-box-stats {
  position: relative;
  
}
.info-box-stats > p.counter, .info-box-stats > span.info-box-title {
  display: inline-block;
}
.info-box .panel-body {
  padding: 0 !important;
}
.info-box .patient .info-box-stats p {
  color: #F9FDFB;
  font-size: 34px; 
  float:left;
  
}
.info-box .patient .info-box-stats span.info-box-title {
  color: #F9FDFB; 
  
}
.info-box .doctor .info-box-stats p {
  color: #12AFCB;
  font-size: 34px; 
}
.info-box .doctor .info-box-stats span.info-box-title {
  color: #12AFCB; 
}
.info-box .nurse .info-box-stats p {
  color: #6A5FAC;
  font-size: 34px; 
}
.info-box .nurse .info-box-stats span.info-box-title {
  color: #6A5FAC; 
}
.info-box .accountant .info-box-stats p {
  color: #F25656;
  font-size: 34px; 
}
.info-box .accountant .info-box-stats span.info-box-title {
  color: #F25656; 
}
.info-box .receptionist .info-box-stats p {
  color: #4E5E6A;
  font-size: 34px; 
}
.info-box .receptionist .info-box-stats span.info-box-title {
  color: #4E5E6A; 
  margin-left:20px !important;
}
.info-box .pharmacist .info-box-stats p {
  color: #3B5998;
  font-size: 34px; 
}
.info-box .pharmacist .info-box-stats span.info-box-title {
  color: #3B5998; 
}
.info-box .laboratorist .info-box-stats p {
  color: #380000;
  font-size: 34px; 
}
.info-box .laboratorist .info-box-stats span.info-box-title {
	
  color: #380000; 
}

.info-box .invoice .info-box-stats p {
  color: #660033;
  font-size: 34px; 
}
.info-box .invoice .info-box-stats span.info-box-title {
  color: #660033;
}

/* 
.info-box .invoice {
  background: rgba(0, 0, 0, 0) url("../images/invoice.png") no-repeat scroll right center;
}
.info-box .medicine   {

  background:url("../images/medicine.png");
 background-repeat: no-repeat; 
    background-position: 55% 0;
}
.info-box .operation_report  {
  
   background:url("../images/report.png");
 background-repeat: no-repeat; 
    background-position: right center;
}
.info-box .setting  {
 
  background:url("../images/setting-image.png");
 background-repeat: no-repeat; 
    background-position: right center;
}
.info-box .birthreport {
    background:url("../images/birth-image.png");
 background-repeat: no-repeat; 
    background-position: right center;
}
.info-box .deathreport  {
   background:url("../images/death-image.png");
 background-repeat: no-repeat; 
    background-position: right center;
}
.info-box .treatment  {
 
  background:url("../images/tretment-image.png");
 background-repeat: no-repeat; 
    background-position: right center;
}
.info-box .prescription  {
 
  background:url("../images/preseription-image.png");
 background-repeat: no-repeat; 
    background-position: right center;
}
.info-box .assignbed  {
 
  background:url("../images/assign-bed-image.png");
 background-repeat: no-repeat; 
    background-position: right 0;
}
.info-box .diagnosis  {
 
  background:url("../images/diagnosis-image.png");
 background-repeat: no-repeat; 
    background-position: right center;
}
.info-box .bloodbank  {
 
  background:url("../images/blood-bank-image.png");
 background-repeat: no-repeat; 
    background-position: right center;
}
.info-box .appointment  {
 
    background:url("../images/appointment-image.png") no-repeat scroll 55% 0;
}
.info-box .operation-list  {
 
  background:url("../images/operation-report.png");
 background-repeat: no-repeat; 
    background-position: right center;
}
.info-box .eventnotice  {
 
  background:url("../images/notice-event-image.png");
 background-repeat: no-repeat; 
    background-position: 55% 0;
}
.info-box .message  {
 
  
  background:url("../images/message.png");
 background-repeat: no-repeat; 
    background-position: 92% 0;
} */
.info-box .medicine .info-box-stats p {
  color: #CC0066;
  font-size: 34px; 
}

.info-box .medicine .info-box-stats span.info-box-title {
  color: #CC0066;
}

.info-box .operation_report .info-box-stats p {
  color: #330033;
  font-size: 34px; 
}

.info-box .operation_report .info-box-stats span.info-box-title {
  color: #330033;
}

.info-box .birthreport .info-box-stats p {
  color: #666633;
  font-size: 34px; 
}

.info-box .birthreport .info-box-stats span.info-box-title {
  color: #666633;
}

.info-box .deathreport .info-box-stats p {
  color: #CC9900;
  font-size: 34px; 
}

.info-box .deathreport .info-box-stats span.info-box-title {
  color: #CC9900;
}
.info-box .setting .info-box-stats p {
  color: #999933;
  font-size: 34px; 
}

.info-box .setting .info-box-stats span.info-box-title {
  color: #999933;
}
.info-box .treatment .info-box-stats p {
  color: #003333;
  font-size: 34px; 
}

.info-box .treatment .info-box-stats span.info-box-title {
  color: #003333;
}
.info-box .prescription .info-box-stats p {
  color: #0099FF;
  font-size: 34px; 
}

.info-box .prescription .info-box-stats span.info-box-title {
  color: #0099FF;
}
.info-box .assignbed .info-box-stats p {
  color: #996600;
  font-size: 34px; 
}

.info-box .assignbed .info-box-stats span.info-box-title {
  color: #996600;
}
.info-box .diagnosis .info-box-stats p {
  color: #330033;
  font-size: 34px; 
}

.info-box .diagnosis .info-box-stats span.info-box-title {
  color: #330033;
}
.info-box .bloodbank .info-box-stats p {
  color: #990000;
  font-size: 34px; 
}

.info-box .bloodbank .info-box-stats span.info-box-title {
  color: #990000;
}
.info-box .appointment .info-box-stats p {
  color: #FF9966;
  font-size: 34px; 
}

.info-box .appointment .info-box-stats span.info-box-title {
  color: #FF9966;
}
.info-box .eventnotice .info-box-stats p {
  color: #009933;
  font-size: 34px; 
}

.info-box .eventnotice .info-box-stats span.info-box-title {
  color: #009933;
}

.info-box .message .info-box-stats p {
  color: #0066FF;
  font-size: 34px; 
}

.info-box .message .info-box-stats span.info-box-title {
  color: #0066FF;
}



.info-box .operation-list   .info-box-stats span.info-box-title {
  color: #003333;
}
.info-box .operation-list .info-box-stats p {
  color: #003333;
  font-size: 34px; 
}

.nav-tab,.nav-tabs a {
    background: none repeat scroll 0 0 #f1f4f9;
}
.nav-tab.nav-tab-active {
    background: none repeat scroll 0 0 #fff;
}
.mainpage .navbar-right {
 
  margin-right: 0px;
}
.mainpage .navbar-right .dropdown{float:right;}
table.fontend-border td,
table.fontend-border th{
	padding:0px !important;
}


ul.panel_tabs li{padding-left:10px;}
ul.panel_tabs a {
  padding: 5px;
}
ul.panel_tabs a:focus,ul.panel_tabs a:hover {
  background: #fff !important;
 
}
ul.panel_tabs a {
  /* color: red !important; */
  font-size: 15px;
  font-weight: 700;
}

/*********** Hospital CSS ********************/
.table-responsive {
  padding-top : 10px;
}
table a.btn {
  margin-bottom: 5px;
}
blockquote.diagnosis-report {
    font-size: 12.5px;
}
.calendar-event > p {
    float: left;
    width: 100%;
}
.profile_data hr {
    margin-bottom: 0;
}
.panel-body.prescription_popprint_content {
  margin: 25px auto;
  width: 82%;
}
.overlay-content .prescription_pop_content{
  height: 400px;
  overflow: scroll;
}
.hmsg_message_none {
    display: none;
}
.hmsg_message_block {
    display: block;
}

/** View Member***/
.report_title {
  padding-left: 10px;
  padding-right: 10px;
}

.right_side .table th, .right_side .table td,.member_right .table th,.member_right .table td {
  color: #66707e;
  font-weight: normal;
  padding: 10px !important;
}
.col-md-4.member_right .table th,.col-md-4.member_right .table td{ padding: 10px !important;}
.col-md-8.membr_left,.col-md-4.member_right {
  border: 1px solid #dedede;
  padding: 5px;
  min-height:330px;
}
.right_side .table i,.member_right .table i {
  padding-right: 10px;
}
.membr_left .col-md-6.right_side {
  padding: 0;
  width: 55%;
}
.member_right .table {
  float: left;
  margin-left: 10px;
  width: 96%;
}
.title_ship {
  color: #66707e;
  float: left;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 18px;
  width: 100%;
}
.cutomcircle {
  border: 2px solid #66707e;
  border-radius: 50%;
}
.col-md-8.membr_left {
  padding: 15px;
}
.col-md-6.left_side {
    padding-left: 0;
    padding-right: 0;
    width: 45%;
}
.txt_color {
  color: #ed5153;
  float: left;
  font-weight: bold;
  width: 150px;
}
.fa-stack.cutomcircle {
  float: left;
  font-size: 18px;
}
.shiptitle {
  float: left;
  font-size: 24px;
  line-height: 32px;
  padding-left: 10px;
}
.report_title {
  float: left;
  font-size: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.col-md-6.border > div {
  float: left;
  width: 100%;
}
.col-md-4.member_right {
  margin-left: 1.5%;
  width: 31.5%;
}
.btn.right {
  float: right;
}
.col-md-6.borderleft {
 
  margin-left: 1%;
  width: 49%;

}
.col-md-6.border {
  border: 1px solid #dedede;
 

  margin-bottom: 10px;
  padding: 5px;
}
#s2id_member_list,#s2id_group_id {
  width: 100% ;
}
.inbox-widget .inbox-item img {
  width: 50px !important;
}
.inbox-widget .inbox-item .inbox-item-author {
 line-height: 48px;
}
.slimScrollDiv {
  overflow: scroll;
}
.checkbox.child {
 
  float: left;
  width: 100%;
  padding-top: 0px !important;
}
.activity_list .activity_title{float:left;width:100%;}
.col-md-8.activity_list {
  height: 250px;
  margin-bottom: 10px;
  overflow: scroll;
}

#display_rout_list {
  float: left;
  width: 100%;
}
.removeworkout,.removethis {
  cursor: pointer;
}
.clear {
    clear: both;
}
.activity_list li {
    margin-left: 30px;
    float: left;
    width: 100%;
}
.work_out_datalist {
  float: left;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}
.work_out_datalist_header {
  border-bottom: 1px solid #76838c;
  float: left;

  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 100%;
}
.work_out_datalist .day_name {

  font-weight: bold;
}
.membr_left img {
  max-height:100%;
}

#display_rout_list .activity .col-md-4 {
  font-size: 14px;
  font-weight: bold;
}
#display_rout_list .activity {
  border-bottom: 1px solid #dedede;
  float: left;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}
.img-circle.head_logo {
  border-radius: 50%;
  height: 55px;
  width: 55px;
}
h3.logo-image {
    margin-bottom: 5px;
    margin-top: 10px;
}
.achilactiveadd {
  float: left;
  margin-bottom: 5px;
  width: 50%;
}
.activity_list span.label {
  color: #76838c;
  float: left;
  font-size: 13px;
  line-height: 20px;
  width: 75px;
  text-align: right;
}
.achilactiveadd > input {
  float: left;
  width: 150px;
}
.my-workouts {
    width: 55px;
}
.box-scroll {
  max-height: 425px;
  overflow: scroll;
}
.my-workouts-display {
  background-color: #ffffff;
  color: #3c3c3c;
  padding-bottom: 25px;
}
.activity-data {
    margin-bottom: 10px;
}
.workout-block {
  float: left;
  margin-bottom: 15px;
  margin-top: 15px;  
  width: 100%;
}
.panel-title {
  width: 100%;
}
.workout-block .work_date {
  color: #f25656;
  font-style: italic;
  
}
.workout-block .report_title {
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
  padding-bottom: 5px;
  padding-left: 0;
}
.workout_datalist {
    font-size: 14px;
}
.work_out_datalist:nth-child(2n+1) {
  background: #f9f9f9 none repeat scroll 0 0;
}
.work_out_datalist:nth-child(2n) {
  background: #ffffff none repeat scroll 0 0;
}
.workout_datalist_header {
  float: left;
  width: 100%;
}
.sets_counter {
	  background-color: #02967d;
 
  border-radius: 50%;
  color: #ffffff;
  float: left;
  height: 30px;
  padding: 5px;
  position: relative;
  text-align: center;
  width: 30px;
  z-index: 1 !important;
}

.sets_kg {
   background-color: #1db198;
  border-radius: 15px;
  float: left;
  font-size: 19px;
  font-weight: bold;
  height: 30px;
  margin-left: -31px;
  padding: 2px;
  position: relative;
  text-align: center;
  width: 68%;
  color:#fff;
}
.sets-row.no-paddingleft {
  margin-bottom: 15px;
}
.border_line {
  background: #dedede none repeat scroll 0 0;
  content: "1";
  float: left;
  height: 1px;
  margin-bottom: 8px;
  margin-top: 14px;
  width: 83%;
}
.col-md-6.sets-row {
  float: left;
  width: 50%;
}
.workout_datalist_header {
  margin-bottom: 20px;
}
.reps_count {
  color: #4e5e6a;
  float: left;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
  padding: 1px;
}
.nutrition_add {
  float: left;
  margin-bottom: 5px;
  width: 100%;
}
.nutrition_add textarea {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  width: 96%;
}
.my-workouts-display .col-md-10.activity-data {
 
  padding-bottom: 10px;
}
.no-paddingleft {
  padding-left: 0 !important;
}
.no-padding{padding:0 !important;}
.no-paddingright {
  padding-right: 0 !important;
}
.activity_title.checkbox {
  float: left;
  margin-left: 10px;
}
.nutrition_title,.nutrition_value {
  float: left;
  width: 100%;
}
.nutrition_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}
.info-box-stats .info-box-title {
  /*color: #f9fdfb !important;*/
  display: inline-block !important;
}
.dashboard_background {
  margin-top: 25px;
}
.info-box .info-box-stats {
  margin-top: 15px !important;
  width: 100%;
}
.info-box-stats p {
	color: #F9FDFB !important;
	
}
.col-md-4.membership-list {
    float: right;
}
.panel-body.side-barlist .img-circle {
  height: 40px;
  width: 40px;
}
.panel-body.member {
    background-color: #5fce9b;
    height: 145px;
}
.panel-body.staff-member {
    background-color: #66B5D6;
    height: 145px;
}
.panel-body.group {
    background-color: #E87352;
    height: 145px;
}
.panel-body.message {
    background-color: #EECA5A;
    height: 145px;
}
.dashboard_background_message
{
	margin: 45px 0 0 0px !important;
}
.info-box-stats.groups-label {
    margin-left: 10px;
}
.col-sm-offset-2.col-sm-8.schedule-save-button {
   margin-top: 30px;
}
.other-service .col-sm-1 {
  padding-left: 0;
}
.sermon-audio {
  margin-left: 330px;
  margin-top: 75px;
  width: 40%;
}
.app-counter {
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  margin-top: 8px;
  text-align: center;
}
.img-circle.image-design {
  margin-right: 10px;
}
.info-box-stats-appcount {
  float: left;
  left: 7%;
  position: absolute;
  width: 7%;
  z-index: 2;
}
.my-group-list {
  margin-left: 20px;
}
.col-sm-3.border {
  border: 1px solid hsl(0, 0%, 87%);
  margin-bottom: 10px;
  padding: 5px;
}
.col-sm-3.border.groups-list {
  margin-left: 1.5%;
  width: 23.3%;
}

h1.nav-tab-wrapper, h2.nav-tab-wrapper, h3.nav-tab-wrapper {
  border-bottom: 1px solid hsl(0, 0%, 80%);
  padding-bottom: 0;
  padding-left: 10px;
}
.nav-tab {
  position: relative;
  top: 1px;
}
.img-circle {
  height: 40px;
  width: 40px;
}
.profile-image img
{
	height:150px;
}
.message-options.pull-right.reply-message-btn {
  margin-top: 35px;
}
.comment-delete > a {
  margin: 0 5px;
}
.day_name {
  margin: 5px 5px 5px 0;
}
.col-sm-8.monthly_div {
  margin-top: 10px;
}
.form-control.repeat_no {
  margin-left: 8px;
}
#upload_user_avatar_preview {
  margin-top: 15px;
}
@media only screen and (min-width : 1750px) {
	.info-box-stats-appcount {
 
  left: auto !important;
 
}
}
.info-box-stats .info-box-title {
  color: #f9fdfb !important;
  display: inline-block !important;
}

.exprience{
	float:left;
	width:100%;	
	background-position: center center;
	background-size:200px 200px;
	background-repeat:no-repeat;
	border:3px solid lightblue;
	padding:10px;
}
.letter_heading{
	float:left;
	text-align:center;
	width:100%;
	
}

.exprience .header{
	float:left;
	width:100%;
}
.exprience .header .header_right{
	background:lightblue;
	text-align:right;
}

.exprience .footer{
	width:100%;
	float:left;
	background:lightblue;
	text-align:center;
}
.exprience .footer p{
	margin:0;
}
.exprience .signeture{
	float:left;
	width:100%;
	border-bottom:1px solid lightblue;
}
.div{
	  float: left;
    width: 100%;
}
.message_space{
	 margin-left: 21px;
    width: 96%;
}


/* For the responsive */
.nav-side-menu .toggle-btn, .nav-side-menu .brand {
    display: none;
}
.collapse.menu-sec {
    display: block;
}
.hr_left ul a:hover, .hr_left ul li.active > a, .hr_left li > a:focus {
    background: #2C3542 !important;
}
.hr_left .nav .title{
	color: #fff;
}
